<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
  <style type="text/css" media="screen">
	body {
		font-family: Arial;
		text-transform: uppercase;
		font-size:24px;
		margin: 0;
		width: 384px;
		padding: 0;
	}
	
	table {
		margin-top:5px;
		word-wrap: break-word;
	}
	
	table td{
	  word-wrap: break-word;
	}
	
	img.weather {
		padding-right: 12px;
	}
  span.dot {
	  font-size: 16px;
	}
	span.heavy {
		font-weight:900;
	}
  </style>
</head>
<body>
<img src="/images/dotted_line_title.png"/>
</div>
<table>
	<tbody>
		<tr>
			<td><img class="weather" src="/images/<%= @forecast[:weather_image]%>.png"/></td>
			<td>
				<% if @forecast[:address] != '' %>
					<%= @forecast[:address][/([^,]+,?(?:[^,]*))/] %>:
					<br/>
				<% end %>
				<span class="heavy"><%= @forecast[:weather_description]%></span>
				<br/>
				MAX: <%= @forecast[:max].to_f.round() %>&#176;<%= @forecast[:units] %> &#8226; MIN: <%= @forecast[:min].to_f.round() %>&#176;<%= @forecast[:units] %> 
				<% if @forecast[:precip_probability] > 0 %>
					<br />
					<%= (@forecast[:precip_probability] * 100).round() %>% chance of&nbsp;<%= @forecast[:precip_type] %>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>
</div>
<img src="/images/dotted_line.png"/>
</body>
</html>
